In [62]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [66]:
diamonds = sns.load_dataset("diamonds")

In [67]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [68]:
diamonds = pd.get_dummies(diamonds)

In [53]:
diamonds.head(10)

,carat,depth,table,price,x,y,z,cut_Ideal,cut_Premium,cut_Very Good,...,color_I,color_J,clarity_IF,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,61.5,55.0,326,3.95,3.98,2.43,True,False,False,...,False,False,False,False,False,False,False,False,True,False
1,0.21,59.8,61.0,326,3.89,3.84,2.31,False,True,False,...,False,False,False,False,False,False,False,True,False,False
2,0.23,56.9,65.0,327,4.05,4.07,2.31,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,0.29,62.4,58.0,334,4.20,4.23,2.63,False,True,False,...,True,False,False,False,False,False,True,False,False,False
4,0.31,63.3,58.0,335,4.34,4.35,2.75,False,False,False,...,False,True,False,False,False,False,False,False,True,False
5,0.24,62.8,57.0,336,3.94,3.96,2.48,False,False,True,...,False,True,False,False,True,False,False,False,False,False
6,0.24,62.3,57.0,336,3.95,3.98,2.47,False,False,True,...,True,False,False,True,False,False,False,False,False,False
7,0.26,61.9,55.0,337,4.07,4.11,2.53,False,False,True,...,False,False,False,False,False,False,False,True,False,False
8,0.22,65.1,61.0,337,3.87,3.78,2.49,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9,0.23,59.4,61.0,338,4.00,4.05,2.39,False,False,True,...,False,False,False,False,False,True,False,False,False,False

In [70]:
le = LabelEncoder()
diamonds['cut']=le.fit_transform(diamonds['cut'])

KeyError: 'cut'

In [55]:
X=diamonds.drop('price', axis=1)
y=diamonds['price']

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
en = ElasticNet()
en.fit(X_train, y_train)

In [59]:
y_pred=en.predict(X_test)

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"mae = {mae}.")
print(f"mse = {mse}.")
print(f"r2 score = {mae}.")

In [ ]:
param_grid = {
    'alpha' : [0.1,0.3,0.5,0.7,0.9,1.0],
    'l1_ratio' : [0.1,0.3,0.5,0.7,0.9,1.0]
    
}

en_cv = GridSearchCV(en, param_grid, cv=3)
en_cv.fit(X_train, y_train)